#define IDR_CHESS768 101
IDR_CHESS768 RCDATA "ColossusChess.NNUE"

KBvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBvK.rtbw"
KNvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KNvK.rtbw"
KPvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KPvK.rtbw"
KQvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQvK.rtbw"
KRvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRvK.rtbw"

KBBvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBBvK.rtbw"
KBNvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBNvK.rtbw"
KBPvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBPvK.rtbw"
KNNvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KNNvK.rtbw"
KNPvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KNPvK.rtbw"
KPPvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KPPvK.rtbw"
KQBvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQBvK.rtbw"
KQNvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQNvK.rtbw"
KQPvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQPvK.rtbw"
KQQvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQQvK.rtbw"
KQRvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQRvK.rtbw"
KRBvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRBvK.rtbw"
KRNvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRNvK.rtbw"
KRPvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRPvK.rtbw"
KRRvK.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRRvK.rtbw"

KBvKB.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBvKB.rtbw"
KBvKN.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBvKN.rtbw"
KBvKP.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KBvKP.rtbw"
KNvKN.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KNvKN.rtbw"
KNvKP.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KNvKP.rtbw"
KPvKP.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KPvKP.rtbw"
KQvKB.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQvKB.rtbw"
KQvKN.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQvKN.rtbw"
KQvKP.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQvKP.rtbw"
KQvKQ.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQvKQ.rtbw"
KQvKR.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KQvKR.rtbw"
KRvKB.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRvKB.rtbw"
KRvKN.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRvKN.rtbw"
KRvKP.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRvKP.rtbw"
KRvKR.rtbw RCDATA "C:\\_Chess\\EndgameTablebases\\Syzygy\\34\\KRvKR.rtbw"
